
.heart{
    margin-right: 48px;
    display: flex;
    align-items: center ;
    justify-content: center ;
    z-index: 100;
    i{
        position: absolute;
        cursor: pointer;
        font-size: 25px;
        transition: all 0.2s ease-in-out;   
    }
    
    
    .far{
        opacity: 1;
    }
    .fas{ 
        opacity: 0;
    }
    &:hover{
        opacity: 1;
        .fas{
            opacity: 1;
            transition: all 0.2s ease-in-out;
            background: linear-gradient(to top right, $colour-secondary, $colour-primary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
        .far{
            opacity: 0;
        }
    }
}