.footer{
    display: flex;
    flex-direction: column;
    background-color: darken($colour-grey,40%);
    color:white;
    padding-left: 5%;
    padding-bottom: 15px;
    font-weight: 600;
    &_logo{
        padding-bottom: 7px;
    }
    &_lien{        
        padding-bottom: 7px;
        a{
            color:white;
        }
        i{
            padding-right: 15px;
            width: 25px;
        }
    }
}