.header_logo{
    flex: 1;
    padding-left: 20%;
    img{
        width: 60%;
        padding-top: 17px;
        padding-bottom: 10px;
    }
}
header{
    display: flex;
    align-items: center;
    nav{
        padding-left: 20px;
    }
    i{
        font-size: 20px;
        color: lighten(black, 20%);
    }
}
.header_index{
    display: block;
    text-align: center;
    &_logo{        
    flex: 1;
    img{
        width: 40%;
        padding-top: 17px;
        padding-bottom: 10px;
    }
    }
}