.search-location{
    display: flex;
    background-color: lighten($colour-grey,40%);
    justify-content: center;
    align-items: center;
    p{
        padding-left: 17px;
        width: 155px;
        input{
            border: 0px;
            background-color: lighten($colour-grey,40%);
            font-weight: bold;
            width: 100%;
            &::placeholder{
                color: black;
            }
            &:focus{
                outline: none;
            }
        }
    }
}