.restaurantpicture{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
@keyframes loadmenu {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.menu{
    border-radius: 20px 20px 0px 0px;
    background-color: lighten($colour-grey, 40%);
    position: relative;
    margin-top: -20px;
    &_course{
        font-weight: 300;
        width: 65px;
        padding-left: 20px;
        position: relative;
        &--border{
            position: absolute;
            border-bottom: 3px solid $colour-tertiary;
            left: 20px;
            right: 10px;
        }
        h2{
            margin-bottom: 5px;
            font-weight: 300;
        }
    }
    &__container{
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin: 20px;
        border-radius: $border-radius;
        padding-left:10px;
        strong{
            display: flex;
            align-items: flex-end;
            padding-right: 10px;
            padding-bottom: 7px;
        }        
        p{
            margin: 0px;                
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &--column{
            display: flex;
            flex-direction: column;
            width: 80%;
            padding: 5px;
            line-height: 23px;
            overflow: hidden;
        }
        h3{
            margin: 0;
            padding-top: 0;
            font-size: 17px;
        }
    }
    &__selected{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colour-tertiary;
        color: white;
        border-radius: 0px 20px 20px 0px;
        width: 0px;
        transform: scaleX(0);
        transition: all 1000ms;
        transform-origin: right 50%;
        overflow: hidden;
    }
}
.entrees{
    animation: loadmenu 1.0s;
}
.plats{
    animation: loadmenu 1.5s 0.2s both;
}
.desserts{
    animation: loadmenu 2.0s 0.3s  both;
}
.nom-restaurant{
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    padding: 10px 0px 10px 0px;
    i{
        padding-left: 40px;
    }
}

.order{
    padding-bottom: 40px;
    padding-top: 20px;
}

.menu__container:hover{    
    cursor: pointer;
    .menu__selected{
        transform: scaleX(1);
        width: 56px;
    }
    i{
        animation: load3 0.5s both;
    }
}