* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.nom-restaurant h1, .footer_logo p {
  font-family: 'Shrikhand', cursive;
}

h3 {
  font-size: 20px;
  margin-left: 5%;
  padding-top: 45px;
  margin-bottom: 25px;
}

.opacity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  color: white;
  margin-top: 20px;
}

.opacity .btn {
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 0px 15px;
  position: relative;
  -webkit-box-shadow: 1px 1px 15px 1px #808080;
          box-shadow: 1px 1px 15px 1px #808080;
  z-index: 1;
  cursor: pointer;
}

.opacity .btn:hover {
  border-radius: 20px;
}

.opacity .btn:hover::after {
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 15px 2px #808080;
          box-shadow: 2px 2px 15px 2px #808080;
  opacity: 1;
}

.opacity .btn::after {
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.opacity .btn p {
  margin: 12px;
}

.loader-wrapper {
  position: absolute;
  width: 100%;
  height: 400%;
  -webkit-animation: loadfade 0.1s 2s both;
          animation: loadfade 0.1s 2s both;
  background-color: #e6e6e6;
  z-index: 1000;
}

@-webkit-keyframes loadfade {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
}

@keyframes loadfade {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  margin-top: 350px;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #FF79DA;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #FF79DA), color-stop(42%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #FF79DA 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 0.8s infinite linear;
          animation: load3 0.8s infinite linear;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #FF79DA;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #9356DC;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.heart {
  margin-right: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

.heart i {
  position: absolute;
  cursor: pointer;
  font-size: 25px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.heart .far {
  opacity: 1;
}

.heart .fas {
  opacity: 0;
}

.heart:hover {
  opacity: 1;
}

.heart:hover .fas {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: -webkit-gradient(linear, left bottom, right top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.heart:hover .far {
  opacity: 0;
}

.header_logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 20%;
}

.header_logo img {
  width: 60%;
  padding-top: 17px;
  padding-bottom: 10px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  padding-left: 20px;
}

header i {
  font-size: 20px;
  color: #333333;
}

.header_index {
  display: block;
  text-align: center;
}

.header_index_logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header_index_logo img {
  width: 40%;
  padding-top: 17px;
  padding-bottom: 10px;
}

.search-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e6e6e6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-location p {
  padding-left: 17px;
  width: 155px;
}

.search-location p input {
  border: 0px;
  background-color: #e6e6e6;
  font-weight: bold;
  width: 100%;
}

.search-location p input::-webkit-input-placeholder {
  color: black;
}

.search-location p input:-ms-input-placeholder {
  color: black;
}

.search-location p input::-ms-input-placeholder {
  color: black;
}

.search-location p input::placeholder {
  color: black;
}

.search-location p input:focus {
  outline: none;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3f3f3;
  padding: 10px 45px 50px 45px;
  text-align: center;
}

.presentation h2 {
  font-weight: normal;
}

.presentation h2, .presentation h1 {
  margin: 10px;
}

.howto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.howto-use {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f3;
  width: 90%;
  margin: 5px 0px;
  border-radius: 20px;
}

.howto-use:hover {
  background-color: #ffdff6;
}

.howto-use__number {
  position: relative;
  left: -7px;
  background-color: #9356DC;
  text-align: center;
  border-radius: 20px;
  width: 19px;
  font-size: 15px;
  color: white;
}

.howto-use__text {
  margin: 0px;
  padding: 5px;
}

.howto-use i {
  margin: 0px 15px;
  color: #858585;
}

.restaurants {
  background-color: #f3f3f3;
  padding-bottom: 20px;
}

.restaurants-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants-card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants-card__container-text {
  line-height: 3px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.restaurants-card__card {
  width: 90%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 15px;
}

.restaurants-card__card--new-large {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.restaurants-card__card--new {
  position: absolute;
  margin: 20px 10px 0px 10px;
  padding: 5px;
  background-color: #99E2D0;
  color: #32b091;
}

.restaurants-card__card--new p {
  margin: 0px;
}

.restaurants-card__card img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
}

.restaurantpicture {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  border-radius: 20px 20px 0px 0px;
  background-color: #f3f3f3;
  position: relative;
  margin-top: -20px;
}

.menu_course {
  font-weight: 300;
  width: 65px;
  padding-left: 20px;
  position: relative;
}

.menu_course--border {
  position: absolute;
  border-bottom: 3px solid #99E2D0;
  left: 20px;
  right: 10px;
}

.menu_course h2 {
  margin-bottom: 5px;
  font-weight: 300;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding-left: 10px;
}

.menu__container strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 10px;
  padding-bottom: 7px;
}

.menu__container p {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__container h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__container--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  padding: 5px;
  line-height: 23px;
  overflow: hidden;
}

.menu__container h3 {
  margin: 0;
  padding-top: 0;
  font-size: 17px;
}

.menu__selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  color: white;
  border-radius: 0px 20px 20px 0px;
  width: 0px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  -webkit-transform-origin: right 50%;
          transform-origin: right 50%;
  overflow: hidden;
}

.menu__container:hover {
  cursor: pointer;
}

.menu__container:hover .menu__selected {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  width: 56px;
}

.menu__container:hover i {
  -webkit-animation: load3 1s both;
          animation: load3 1s both;
}

@-webkit-keyframes loadmenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadmenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.entrees {
  -webkit-animation: loadmenu 1.0s;
          animation: loadmenu 1.0s;
}

.plats {
  -webkit-animation: loadmenu 1.5s 0.2s both;
          animation: loadmenu 1.5s 0.2s both;
}

.desserts {
  -webkit-animation: loadmenu 2.0s 0.3s  both;
          animation: loadmenu 2.0s 0.3s  both;
}

.nom-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px 0px 10px 0px;
}

.nom-restaurant i {
  padding-left: 40px;
}

.order {
  padding-bottom: 40px;
  padding-top: 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1a1a1a;
  color: white;
  padding-left: 5%;
  padding-bottom: 15px;
  font-weight: 600;
}

.footer_logo {
  padding-bottom: 7px;
}

.footer_lien {
  padding-bottom: 7px;
}

.footer_lien a {
  color: white;
}

.footer_lien i {
  padding-right: 15px;
  width: 25px;
}
/*# sourceMappingURL=main.css.map */